<h2>Add new todo</h2>
<form method="post" action="/Todos/add">
    <table>
        <tr>
            <th>Done</th>
            <th>What</th>
        </tr>
        <tr>
            <td><input type="checkbox" name="Done" value="true"/></td>
            <td><input type="text" name="What"/></td>
        </tr>
    </table>
    <br />
    <input type="submit" value="Submit" />
    <input type="reset" value="Reset" />
</form>